<!-- Assim que ficará o html que herda do base.html -->
{% extends "base.html" %}

{% block title %} Lista de tarefas:: {% endblock %}

{% block content %} 

<div class="offset-1 col-10 list-div">
    <h1>Lista de Tarefas</h1>
    <!-- ENCOBRIR O BTN DE ADICIONAR TAREFA COM A ROTA PARA CRIAR TASK
     lá do urls.py -->
    <a id='add-link' href="newtask/">

        <div class="col-2 add-div">
            <i class="fas fa-plus"></i> Adicionar tarefa
        </div>

    </a>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da tarefa para buscar...">
        <i class="fas fa-search"></i>
    </div>
    <ul class="task-list">
        <!-- LOOP DO DJANGO -->
        {% for task in tasks_f %}

        <li class="task-item">
            <!-- AQUI CRIO O LINK DA TAREFA COM O HREF E TRAGO O NOME DO TITLE PARA TAREFA -->
            <span><a href="/task/{{task.id}}">{{task.title}}</a></span>
            <span><i class="fas fa-trash"></i></span>
            <!-- ADICIONAR TAG a COBRINDO O BTN DE EDITE PARA ACIONAR A VIEW -->
             <a href="edit/{{task.id}}">

                 <span><i class="fas fa-edit"></i></span>

            </a>
        </li>
        
        {% endfor %}
       
    </ul>
</div>

{% endblock %}
