<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>

<header>
    <!-- Este {% url 'index' %} serve como cmd do python/django
para dizer para o django que ele tem que abrir uma url index.html
quando clicar, este nome index não é o nome do arquivo, mas o nome
dado para rota dentro de urls.py no app. 
-->
    <a href="{% url 'index' %}">Lista de Tarefas</a>
    <a href="{% url 'topicos' %}">Ir para Tarafas</a>

</header>

<body>

    {% block content %} {% endblock content %}

</body>

</html>