<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>

<header>

    <p>
        <a href="{% url 'index' %}">Lista de Tarefas</a>
        <a href="{% url 'topicos' %}">Ir para Tarefas</a>
        <!-- Este href de logout_user server para ter um 
         btn de fechamento da sessao do usuario.-->
        {% if user.is_authenticated %}
        Olá, {{user.username}}.
        <a href="{% url 'logout_user' %}">Sair!</a>
        {% else %}
        <!-- Lembrando que em url é o 'name=' que está dentro de urls.py-->
        <a href="{% url 'reg_usuario' %}">Criar conta.</a>
        <a href="{% url 'login' %}">Logar em sua conta!</a>
        {% endif %}
    </p>

</header>

<body>

    {% block content %} {% endblock content %}

</body>

</html>