{% extends "lista_tarefas/base.html" %}
<!-- Tag de contexto para carregar o bootstrap-->
{% load django_bootstrap5 %}

<!-- Lembrando que este block tem que inserir para controlarmos
 a formatação que tiramos de dentro do block content, este block
 está dentro do arquivo base. -->
{% block header %}
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">Preencha as informações:</div>
{% endblock header %}


{% block content %}

<!-- com form, eu preciso apontar para página onde ele estará -->
<form action="{% url 'novo_topico' %}" method="post" class="form">

    <!-- Esta tag é obrigatória para fazer a validação interna do token -->
    {% csrf_token %}

    {% bootstrap_form form %}

    <button type="submit" name="submit" class="btn btn-success">Adicionar Tópico</button>

</form>


{% endblock content %}