{% extends "lista_tarefas/base.html" %}

{% block content %}
<h3>Tarefa - {{ topico }}</h3>
<h3>Tarefa - {{ topico.id }}</h3>

<p>
    <a href="{% url 'novo_sub_topico' topico.id %}">Adicione uma nova SUB - Tarefa</a>
</p>

<p>Sub-Tarefas de sua tarefa:</p>

<ul>

    {% for sub_topico in sub_topicos_do_topico %}
    <li>
        <p>{{ sub_topico.date_added }}</p>
        <p>{{ sub_topico.text_sub_topicos }}</p>
        <p>
            <a href="{% url 'editar_sub_topico' sub_topico.id %}">Editar Sub-Tópico</a>
        </p>
    </li>

    {% empty %}
    <li>Não há sub-tarefas!</li>
    {% endfor %}
</ul>

{% endblock content %}